{%  extends 'base.html.twig' %}
{% block title %}Voir tout nos biens!{% endblock %}

{%  block body %}
    <div class="text-center mt-4">
        <h1> My Little Agency </h1>
        <span>Votre agence de location</span>
    </div>


{% endblock %}